@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* App.css */

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* App.css */

/* Taustakontti */
.background-container {
  background-image: url('/images/autovisakuva3.jpg'); /* Taustakuva */
  background-size: cover; /* Koko näytön kattava */
  background-position: center;
  width: 100vw;
  height: 100vh; /* Koko ruudun kokoinen */
  display: flex;
  justify-content: center; /* Sisältö keskitetty vaakasuunnassa */
  align-items: center; /* Sisältö keskitetty pystysuunnassa */
}

/* Sisällön kontti */
.content-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Varjo sisällölle */
  max-width: 500px;
  width: 100%;
  height: 60vh;
  text-align: center; /* Tekstin keskitys */
  opacity: 0.9;
  max-height: 450px;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.form-container h1 {
  margin-bottom: 30px;
  font-size: 24px;
}

.form-container label {
  margin-top: 20px;
  font-size: 12px;
  width: 300px;
  display: inline-block;
}

.form-container .checkbox-label input {
  display: inline-block;
}


.contact-input {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #f4f4f4;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 10px;
}



.aloita-button {
  padding: 10px 20px;
  width: 250px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.birra-solutions {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #888;
  text-align: center;
}

.container-questions {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.container-questions h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: start;
  padding: 50px 50px 0 50px;
}



.vastaus-button {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: black;
}


.vastaus-vaihto-ehdot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjous-container {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  opacity: 1;
}

.tarjous-container .tarjous-teksti {
  font-weight: 600;
  text-align: start;
  font-size: 20px;
  padding: 0 0 0 75px;
}

.tarjous-container .right-icon {
  color: #007bff;
  font-size: 24px;
}

.tarjous-container .tarjous-teksti-pitka {
  margin-top: 40px;
}


.tarjous-container button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.tarjous-btn {
  background-color: #007bff;
  padding: 10px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  width: 150px;
  margin-bottom: 10px;
}

.tulos-btn {
  background-color: #999;
  padding: 8px;
  color: white;
  width: 150px;
}

.container-result h2 {
  font-size: 30px;
}

.result-image {
  max-width: 90%;
  height: 300px;
  border-radius: 8px;
}

.container-result p {
  padding: 20px;
}

.tarjous-teksti {
  font-weight: 600;
}



.sulje-testi {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .content-container {
    height: 90vh;
  }

  .container-questions {
    margin-top: 0;
    text-align: center;
  }

  .result-image {
    max-width: 100%;
    height: 250px;
    border-radius: 8px;
  }

}

@media (max-width: 780px) { 
  .content-container {
    max-width: 370px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-bottom: 150px;
  }


  .form-container {
    margin-top: 0;
  }

  .contact-input {
    width: 250px;
  }

  .vastaus-button {
    width: 325px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .container-questions {
    margin-top: 0;
    text-align: center;
  }

  .container-questions h2 {
    font-size: 16px;
    padding: 0;
    max-width: 325px;
  }

  .tarjous-container {
    margin-top: 0;
  }

  .tarjous-container .tarjous-teksti{
    font-size: 16px;
    padding: 0 0 0 10px;
  }

  .result-image {
    height: 120px;
    max-width: 100%;
  }
}


